@font-face{ 
	font-family: 'dogica';
	src: url('/fonts/dogica.woff') format('woff');
}

@font-face{ 
	font-family: 'dogica-bold';
	src: url('/fonts/dogicabold.woff') format('woff');
}

:root {
    --fontFamily: 'dogica', sans-serif;
    
    --heading1FontSize: 22px;
    --heading1Margin: 0 0 10px;
    --heading1LineHeight: 32px;
    --heading2FontSize: 18px;
    --heading2Margin: 14px 0;
    --listMarginBottom: 2px;
    --listFontSize: 14px;
    --listLineHeight: 1.5;

    --green : #7ac49e;
    --dark-green: #161c01;
    --dark-purple: #151628;
    --light-purple: #343a62;
    --ocean: #2795f5;
    --gold: #efc100;
    --silver: #939393;
    --bronze: #c1947a;
    --grid-bg: #14281d;
    --sky: #64d8fa;

}


body {
    font-family: var(--fontFamily);
    display: grid;
    background: var(--ocean);
}

article {
    margin: 0 auto;
    width: 600px;
    height: 1000px;
    padding: 50px 65px 150px 65px;
 }
article.game { 
    grid-area: game;
    width: 480px;
}
iframe {
    border: none;
}
article.replay { grid-area: replay; border: 2px solid white}

section {
    padding: 1em;
    max-width: 480px;
    /* margin: 0 auto; */
}
#leaders {

}