@font-face{ 
	font-family: 'dogica';
	src: url('/fonts/dogica.woff') format('woff');
}

@font-face{ 
	font-family: 'dogica-bold';
	src: url('/fonts/dogicabold.woff') format('woff');
}

:root {
    --fontFamily: 'dogica', sans-serif;
    
    --heading1FontSize: 24px;
    --heading1Margin: 0 0 16px;
    --heading2FontSize: 20px;
    --heading2Margin: 20px 0;
    --listMarginBottom: 10px;
    --listFontSize: 18px;

    --green : #7ac49e;
    --dark-green: #161c01;
    --dark-purple: #151628;
    --light-purple: #343a62;
    --ocean: #2795f5;
    --gold: #efc100;
    --silver: #939393;
    --bronze: #c1947a;
    --grid-bg: #14281d;
    --sky: #64d8fa;

}


body {
    font-family: var(--fontFamily);
    display: grid;
    background: var(--ocean);
}

article {
    margin: 0 auto;
    width: 1100px;
    height: 460px;
    display: grid;
    grid-gap: 48px;
    grid-template-columns: 1fr 1fr;
    padding: 50px 65px 150px 65px;
    background: url('/img/dashboard-bg.png') no-repeat;
    background-size: contain;
}

section {
    padding: 1em;
    max-width: 480px;
    /* margin: 0 auto; */
}
#leaders {

}